<configuration scan="true" scanPeriod="10 seconds">
    <jmxConfigurator />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="testMapper" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="ru.otus.mybatis.dao.SampleMapperInterface" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="ru.otus.mybatis.dao.PersonDao" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="ru.otus.mybatis.dao.AddressDao" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="net.sf.ehcache" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
